<div class="flex">
    <h2>GetTogether! allows you to search for local eateries via Yelp! and notify your friends automatically via Twitter.</h2>
    <ol>
        <li> You may search without logging in, but you need to log in to make a plan and have it tweeted to your friends. So, log in to get started!
        </li>
        <li>
            Then just enter your city, state or zip code to find places to go. Once you have chosen a place to go from the list, just
            click "I'm Going".
        </li>
        <li> You will be taken to the "make a plan page" to choose a date and time.</li>
        <li>That's all. Your friends will be notified by an automatic tweet. You will see all of your plans with maps on your
            "My Plans" page.</li>
        <li>You can change your plan time and date or cancel your plan by visiting your "My Plans" page. A new tweet will automatically
            be sent to notify your friends of the change of plans.</li>
        <li>Plans will expire after the plan date and will no longer appear in your list.</li>
    </ol>